Adafruit-Blinka==9.0.4
adafruit-blinka-displayio==2.3.2
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-bitmap_font==2.4.1
adafruit-circuitpython-busdevice==5.2.16
adafruit-circuitpython-connectionmanager==3.1.7
adafruit-circuitpython-imageload==1.24.6
adafruit-circuitpython-pca9685==3.4.21
adafruit-circuitpython-register==1.11.2
adafruit-circuitpython-requests==4.1.16
adafruit-circuitpython-rgb-display==3.14.4
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.11.1
Flask==3.1.1
pillow==12.2.0
